.container{
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: #f0f5f5;
  font-family: "Inter" , sans-serif;
}

/* .container>div{
  border: 1px solid black;
  width: 90%;
  height: 100vh;
} */

/* **************** */
/* Sidebar Styles */
/* **************** */
.sidebar{
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border: 0.5px solid black; */
  border-radius: 1.25rem;
  margin: 0.5rem;
  padding: 0.3rem;
}
#sideHead{
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
  padding-top: 10px;
  height: 60px;
  align-items: center;
}

#sidetitle{
  font-size: 24px;
  align-items: center;

}

#img1{
  width: 6rem;
  height: 4rem;
  /* margin-right: 2px; */
}

#img2{
  width: 35px;
  height: 30px;
  background-color: #f0f0f0;
  margin-top: 3px;
  margin-left: 18px;
  border-radius: 30%;
}

#sideCenter{
  /* background-color: aqua; */
  height: 23rem;
  border-top: 0.5px solid #e5e7eb;
  border-bottom: 0.5px solid #e5e7eb;
}
#sideCenter p{
  /* font-size: 18px; */
  padding-left: 10px;
  padding-top: 10px;
}
#recentChats{
  color: black;
}

.foot{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  height: 7rem;
}
.foot p{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.foot p span{
  font-size: 1.2rem;
  padding-top: 0.1rem;
  margin:0.1rem 0.5rem 0 0.9rem;
}

#setng{
  margin:0.2rem 0.8rem 0 1rem;
}

.foot p:hover{
  background-color: rgb(232, 239, 236);
  border-radius: 1.25rem;
  cursor: pointer;
}

/* **************** */
/* Main Styles */
/* **************** */

.main{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 1.25rem;
  padding: 0.5rem;
  flex-grow: 1;
}

.mainHead{
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  height: 70px;
  border-bottom: 0.5px solid #e5e7eb;
  flex-grow: 0.2;
}

.mainCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 23rem;
  line-height: 0.75;
  flex-grow: 2;
}
.mainCenter p{
  font-size: 0.9rem;
  line-height: 0.3rem;
  color: rgb(88, 131, 117);
}

.mainFooter{
  height: 7rem;
  border-top: 0.5px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* border: 1px solid black;s */
}

.input{
  width: 80%;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: 0.5px solid #e5e7eb;
  padding-left: 1rem;
}
.input:hover{
  border: 1px solid #007bff;
}

#inputMode{
  width: 20%;
  height: 60%;
  background-color:rgb(232, 239, 236) ;
}
#input{
  width: 70%;
  height: 2rem;
  border: none;
  font-size: 1rem;
}

img:hover{
  transform: scale(1.05);
}


@media (max-width: 480px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
    height: 95vh;
    width: 100%;
    border-radius: 0;
  }
  .sidebar{
    display: none;
  }
  .main{
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
}



